@{
    ViewData["Title"] = "Car Order";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Car Order</h1>
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://4wheelerbd.com/wp-content/uploads/2020/11/Proton-X70-Browm.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Car 1</h5>
                    <p class="card-text  mb-3  mt-3">Machine description...</p>
                    <hr />
                    <form style="width: 40%; margin: 0 auto ">
                        <div class="mb-3 mt-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Phone</label>
                            <input type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
