@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome! Do you need a rental car?</h1>
    <p>Then go ahead and order</p>
    <a href="/Home/Catalog" class="btn btn-primary">Order</a>
</div>
